*{
  margin: 0;
  padding: 0;
}

body{

}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

/*
.header
.nav

*/

.header{
  grid-column: 2 /4;
  grid-row: 1;
  background-color: lightskyblue;
  align-self: center;
  justify-self: center;
}

.nav{
  grid-column: span 4;
  grid-row: 2;
}